.env
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/
.DS_Store
backend/instance/
backend/*.db
frontend/.DS_Store
.ebextensions
backend/celerybeat-schedule
dump.rdb
backend/gunicorn.log